body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(238, 238, 238);
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* App Structure styles */
.app-row {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.app-column {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

/* Navbar styles */
#nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 6px groove rgba(19, 92, 164, 0.56);
  background: rgb(129, 176, 223);
  z-index: 3;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-left {
  margin-left: 20px;
  z-index: +90;
}

.navbar-right {
  margin-right: 20px;
  z-index: +90;
}

/* Sidebar styles */
#sidebar-container {
  width: 25vw;
  height: 100%;
  border-left: 6px groove rgba(19, 92, 164, 0.56);
  margin-right: -15px;
  text-align: center;
  background: rgb(186, 138, 138);
  z-index: 3;
  border-radius: 0px 0px 0px 40px;
}

.search-data-container {
  margin: 20px;
  background-color: rgb(224, 233, 255);
}

/* Map Styles */

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.selectedJob {
  width: 600px;
  height: 300px;
}

.map {
  margin: 0;
  padding: 0;
  border: none;
}

#map-container {
  position: relative;
  /* right: 10px; */
  height: 100vh;
  width: 100vw;
}
