body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(238, 238, 238);
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* App Structure styles */
.app-row {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.app-column {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

/* Navbar styles */
#nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 3;
}

.gradient-style {
  background: #2c4e63;
  background: -moz-linear-gradient(top, #2c4e63 0%, #457b9d 100%);
  background: -webkit-linear-gradient(top, #2c4e63 0%, #457b9d 100%);
  background: linear-gradient(to bottom, #2c4e63 0%, #457b9d 100%);
}

#logo {
  height: 120px;
  position: relative;
  top: -50px;
  left: -40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-left {
  margin-left: 20px;
  z-index: +90;
}

.navbar-right {
  margin-right: 20px;
  z-index: +90;
}

/* Sidebar styles */
#sidebar-container {
  /* border-left: 6px groove #457B9D; */
  margin-right: -15px;
  text-align: center;
  background: #eaebea;
  z-index: 3;
  border-radius: 0px 0px 0px 40px;
}

.sidebar-class {
  width: 20vw;
  height: 100%;
}

.search-data-container {
  margin: 20px;
  padding-top: 10px;
  /* background-color: white; */
  border-radius: 5px;
  border: black solid 1px;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  height: 200px;
  color: white;
}

/* Map Styles */

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

.selectedJob {
  width: 600px;
  height: 300px;
}

.map {
  margin: 0;
  padding: 0;
  border: none;
}

#map-container {
  position: relative;
  /* right: 10px; */
  height: 100vh;
  width: 100vw;
}

.national-button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  height: 29px;
  width: 29px;
  font-size: 18pt;
  text-align: center;
  padding: 0 2px;
}

.geolocateStyle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.nationalViewStyle {
  position: absolute;
  top: 36px;
  left: 0;
  width: 49px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreenControlStyle {
  position: absolute;
  top: 72px;
  left: 0;
  padding: 10px;
}

.navStyle {
  position: absolute;
  top: 108px;
  left: 0;
  padding: 10px;
}

.scaleControlStyle {
  position: absolute;
  bottom: 36px;
  left: 0;
  padding: 10px;
}

.toggleButtonsStyle {
  position: absolute;
  top: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 4px;
}

#mobile-only {
  display: none;
}

/* Mobile Styles */

@media only screen and (max-width: 500px) {
  .app-row {
    flex-direction: column;
  }
  .app-column {
    width: 100vw;
    height: 100vh;
  }
  #nav {
    height: 0;
    justify-content: flex-end;
    margin-right: 0;
  }
  #sidebar-container {
    border-radius: 0px;
  }
  .sidebar-class {
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100vw;
  }
  .show-sidebar {
    height: 74%
  }
  .navbar-right {
    display: none;
  }
  #logo {
    left: 20px;
  }
  #mobile-only {
    display: block;
  }
}
